html {
  background-color: lavender;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/021/768/original/wp2572362-star-wallpaper.jpg?1638060677");
  background-size: cover;
  opacity: 0.77;
  padding: 20px;
}
  
body {
  font-family: Arial, Helvetica, sans-serif;
  opacity: .5;
  border: 3px solid blue;
  max-width: 600px;  
  margin: 0 auto;
  display: block;
}
