.Weather {
  padding: 30px;
}

.Weather h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 36px;
  color: gray;
}


.Weather .weather-forecast {
  text-align: center;
  }
  
.Weather .weather-forecast-date {
    font-size: 16px;
  }
  
.Weather .weather-forecast-temp {
    font-size: 13px;
  }
  
.Weather .weather-forecast-temp-max:hover {
    font-size: 16px;
  }
  
.Weather .weather-forecast-temp-min {
    opacity: 0.5;
  }
  
.Weather .description {
    text-transform: capitalize;
  }
  
.Weather .sun-position {
    text-align: right;
  }
  
.Weather .temperature {
    font-size: 36px;
  }
  
.Weather .weather-additions {
    text-align: center;
  }
